link(rel='stylesheet', href='/stylesheets/bootstrap.min.css') 
link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
link(rel='stylesheet', href='/stylesheets/force.css') 
link(rel='stylesheet', href='/stylesheets/table.css')
script(src='/javascripts/jquery-1.7.min.js')
script(src='/javascripts/d3.v2.js')
script(src='/javascripts/bootstrap-button.js')
script(src='/javascripts/bootstrap-tooltip.js')
script(src='/javascripts/bootstrap-alert.js')
script(src='/javascripts/bootstrap-popover.js')
script(src='/javascripts/bootstrap-modal.js')
script(src='/javascripts/jquerytables.js')
script(src='/javascripts/app.js')
script(src='/javascripts/table.js')