script(src='/javascripts/d3.v2.js')
script(src='/javascripts/jquerytables.js')
script(src='/javascripts/table.js')
script(src='/javascripts/app.js')
link(rel='stylesheet', href='/stylesheets/force.css') 