body	
	div.container
		div.content
			div.page-header
				h1 The bitcoin block chain is a graph - let's use it like one.
			div.row-fluid
				div.span12						
					h3 All API calls return standardized GEXF formatted graphs.  Gephi, sigma.js, libgexf, and other visualization tools can consume and use this format to create graphs of your own!
					h3 Calls truncate at 5000 results - pagination support is coming soon!	If you want JSON, change the .gexf extension to .json
			table.table
				thead
					tr
						th(style='width: 25%') Description
						th(style='width: 25%') Call
						th(style='width: 50%') Result
				tbody
					tr
						td 
							h5 Get a block and its transactions by hash:
						td 
							a(href='http://blockviewer.com/api/block/hash/000000000000031d5731617e8014e2efd7524bc728976f736c4217d9888e9eb8.gexf') api/block/hash/000000000000031d5731617e8014e2efd7524bc728976f736c4217d9888e9eb8.gexf
						td
							a(href='#/block/hash/000000000000031d5731617e8014e2efd7524bc728976f736c4217d9888e9eb8')
								img(src='images/block1.png')
					tr
						td 
							h5 Get a block and its transactions by height:
						td 
							a(href='http://blockviewer.com/api/block/height/2.gexf') api/block/height/2.gexf
						td
							a(href='#/block/height/2')
								img(src='images/block2.png')
					tr
						td 
							h5 Get a transaction and its inputs/outputs by hash:
						td  
							a(href='http://blockviewer.com/api/trans/de2b05d03485778ea6eb28c5e4b3b93d90d8ae64e2c5c5432ae24b0933f7acfe.gexf') api/trans/de2b05d03485778ea6eb28c5e4b3b93d90d8ae64e2c5c5432ae24b0933f7acfe.gexf
						td
							a(href='#/trans/de2b05d03485778ea6eb28c5e4b3b93d90d8ae64e2c5c5432ae24b0933f7acfe')
								img(src='images/trans.png')
					tr
						td 
							h5 Get every address instance from the low level chain
						td 
							a(href='http://blockviewer.com/api/addr/1HB5XMLmzFVj8ALj6mfBsbifRoD4miY36v.gexf') api/addr/1HB5XMLmzFVj8ALj6mfBsbifRoD4miY36v.gexf
						td
							a(href='#/addr/1HB5XMLmzFVj8ALj6mfBsbifRoD4miY36v')
								img(src='images/addr.png')
					tr
						td 
							h5 Get every bitcoin this address redeemed, every other address that is owned by the same owner, and the node that owns this address from the high level owner chain (recommended!)
						td 
							a(href='http://blockviewer.com/api/owns/1HB5XMLmzFVj8ALj6mfBsbifRoD4miY36v.gexf') api/owns/1HB5XMLmzFVj8ALj6mfBsbifRoD4miY36v.gexf
						td
							a(href='#/owns/1HB5XMLmzFVj8ALj6mfBsbifRoD4miY36v')
								img(src='images/owns.png')
					tr
						td 
							h5 Every node has a unique node id. If you know it, you can get it and all its neighbors
						td 
							a(href='http://blockviewer.com/api/node/26351408.gexf') api/node/26351408.gexf
						td 
							a(href='#/node/26351408')
								img(src='images/node.png')					