body	
	div.container
		div.content
			div.page-header
				h1 Welcome to the bitcoin social network!
			
			div.row-fluid
				div.span12	
					h3 What is this?	
					body The bitcoin block chain is a virtual accounting ledger which is passed around, appended, and agreed upon by people who are sending numbers to each other. Blockviewer.com not only attempts to visualize this growing document of debits and credits, but it also attempts to derive more useful and revealing information about it by constructing an ownership network.					
					br
					h3 How does this "owner" network work?
					body Please check out our use case: 
							a(href='http://toolongdidntread.com/bitcoin/the-bitcoin-social-network-part-1/') The Bitcoin Social Network Part 1
					br
					h3 How do I use the main visualizer?
					body The main visualizer can be broken up into 2 sections:
					br
					h5 1) The low-level "block chain" network.					
					body This network is the actual block chain - complete with blocks, transactions, inputs, and outputs.	 Searching by block hash, block height, a transaction hash, or an ip address which found the block would be querying the low-level network:				
					img(src='images/low-level.png').img-polaroid
					img(src='images/low-query.png').img-polaroid
					br
					h5 2) The high-level "owner" network.
					body This network is built on top of of the low-level network which shows owners - groups of bitcoin addresses proven to be owned by the same person:
					img(src='images/high-level-1.png').img-polaroid
					br
					body Owners are also tracked by the amounts they give to other owners.  Powerful queries can be developed from this network:
					img(src='images/high-level-2.png').img-polaroid
					br
					h3 How large is this database?
					body It has over 70 million nodes, 80 million relationships, and 70 million properties.  
					br
					h3 How can I get started?
					body Even if you aren't a developer, check out the 
					a(href='/api') API documentation 
					and click on the picutres.  Those will get you started with using the visualizer.