head
	include ../includes/bootstrap
	include ../includes/d3
	
div.navbar
	div.navbar-inner
		div.container
			a(href='#').brand Block Viewer
			ul.nav
				li
					a(href='#') What is this?
				li  
					a(href='#') Contact
			form#search.navbar-search.pull-right
				input(type='text')(placeholder='Search').search-query
				
div.container
	script
		app();