doctype 5
html.
	<head>
		<title>Visualize the Bitcoin Network</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="stylesheets/gexfjs.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/jquery-ui.css" />	
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="javascripts/jquery.mousewheel.min.js"></script>
		<script type="text/javascript" src="javascripts/jquery-ui-1.8.16.custom.min.js"></script>
		<script type="text/javascript" src="javascripts/gexfjs.js"></script>
		<script type="text/javascript" src="javascripts/config.js"></script>
		<script type="text/javascript" src="javascripts/analytics.js"></script>
	</head>
	<body>
		<div class="navbar" id="titlebar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">Block Viewer</a>
					<ul class="nav">
						<li><a href="#" onclick="showHelp(); return false;">Help</a></li>
					</ul>
					<ul class="nav">
						<li><a href="#" onclick="showIdentity(); return false;">Identify</a></li>
					</ul>
					<ul class="nav">
						<li><a href="https://github.com/thallium205/BitcoinVisualizer">Github</a></li>
					</ul>
					<ul class="nav">
						<li><a href="http://toolongdidntread.com/">Contact</a></li>
					</ul>
					<div class="pull-left">
						<p class="navbar-text">Donate: 14gZTuHA4xa4gJQBubn5fj3b4D4QHEDdwY<p>
					</div>		

					<div id="graphsearch"></div>	
					
					<form class="navbar-search pull-right form-inline" id="networksearchform">
						<input type="text" style="width:300px" class="search-query" placeholder="Bitcoin Address, Date (yyyy-mm-dd), or Owner Id" id="networksearch">						
					</form>					
				</div>
			</div>
		</div>			
		<div id="zonecentre" class="gradient">
			<canvas id="carte" width="0" height="0"></canvas>
			<ul id="ctlzoom">
				<li>
					<a href="#" id="zoomPlusButton" title="S'approcher"> </a>
				</li>
				<li id="zoomSliderzone">
					<div id="zoomSlider"></div>
				</li>
				<li>
					<a href="#" id="zoomMinusButton" title="S'éloigner"> </a>
				</li>
				<li>
					<a href="#" id="lensButton"> </a>
				</li>
				<li>
					<a href="#" id="edgesButton"> </a>
				</li>
			</ul>
		</div>
		<div id="overviewzone" class="gradient">
			<canvas id="overview" width="0" height="0"></canvas>
		</div>
		<div id="leftcolumn">
			<div id="unfold">
				<a href="#" id="aUnfold" class="rightarrow"> </a>
			</div>
			<div id="leftcontent"></div>
		</div>
		
		<ul id="autocomplete">
		</ul>
		
		<script>
			function showHelp() {
				$('#helpModal').modal('show')							
			}
		</script>
		
		<div id="helpModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Help" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Help</h3>
			</div>
			<div class="modal-body">
				<h4>What is this?</h4>
				<p>There are many tools available today that provide statistics and graphs about the Bitcoin block chain, but they fall short by only analyzing global properties of the network or only describing single addresses.  Block Viewer goes much further 
					by combining related addresses through a Union-Find algorithm to combine related addresses to the same owner, creating an "Owner Network".  Doing this allows us to calculate an owner's sending and receiving activites, current balances of all their various connected addresses, their interactions with other owners, and note time-division snapshots of the overall network like never before seen (experimental).  
					<b>No other website currently provides this type of functionality, making this the most powerful public tool available for serious block chain analysis.</b></p>
				
				<h4>Node Label</h4>
				<p>If an owner has been identified to a real world entity such as a bitcointalk.org username, nodes will be tagged with this information under Alias. Otherwise, they will be tagged with a unique owner identifier.</p>

				<h4>Node Size</h4>
				<p>The amount of inbound/outbound transactions that have been sent to and from a particular owner will be represented with how large a node is relative to the other nodes in the current graph.</p>
				
				<h4>Node Color</h4>
				<p>Hotter colors will represent recent activity sent from the owner while a cooler color will represent older activity.</p>
				
				<h4>Edge Color</h4>
				<p>Hotter colors will represent recent transactions while cooler colors will represent older ones.</p>
				
				<h4>Edge Direction</h4>
				<p>Following an edge in a clockwise direction will separate inbound vs outbound transactions.</p>
			</div>
		</div>
		
		<script>
			function showIdentity() {
				$('#identityModal').modal('show');						
			}
		</script>
		
		<div id="identityModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Help" aria-hidden="true">
			<div class="modal-body">
				<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dE1HTlNYNGVWZVJzUFNYOHRmOVlpOWc6MQ" width="500" height="625" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
			</div>
		</div>
		
		<div id="loadModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Loading" aria-hidden="true">
			<div class="modal-header">
				<h3> Preparing ...</h3>
			</div>
		</div>
		
		<div id="announcementModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Notice!" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Bug Found</h3>
			</div>
			<div class="modal-body">		
				<h4>Any owner that has had more than 1 transaction with another owner will only display the first transaction between the two.  This is resulting in missing transactions and incorrect totals.</h4>
				<h5>I am working hard to correct this, but it will take some time to rebuild this portion of the database.  Sorry for any inconvenience! ~thallium205</h5>
			</div>
		</div>
	</body>
