head
	include ../includes/blockviewer
	
div.navbar
	div.navbar-inner
		div.container
			a(href='#').brand Block Viewer
			ul.nav
				li
					a(href='#') FAQ
				li  
					a(href='#') API
			form#search.navbar-search.pull-right.form-inline				
				input(id='txtInput')(type='text')(placeholder='Address / SHA hash / height')(style='width:300px').search-query
				button(id='btnSubmit')(data-loading-text='Loading...')(data-complete-text='Search').btn.btn-primary.btn-large Search
		form.form-inline.pull-right
			button(id='btnFilter')(data-toggle='dropdown').btn.dropdown-toggle Filter
				span.caret
			ul.dropdown-menu
				li
					a(href='#') FAQ
				li  
					a(href='#') API
			button(id='btnClear').btn Clear	
	script
		app();
div.modal.hide#groupModal
	div.modal-header
		button(type='button')(data-dismiss='modal').close x
		h3#txtGroupModalTitle
	div.modal-body
		table(cellpadding='0')(cellspacing='0')(border='0').table.table-bordered#tblGroup
	div.modal-footer		
		a(href='#').btn.btn-primary Select
		a(href='#').btn Select All
		a(data-dismiss='modal')(href='#').btn.danger Select None
		