head
	include ../includes/blockviewer	
	script
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-34348879-1']);
		_gaq.push(['_trackPageview']);
		
		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
body
	div.navbar#titlebar
		div.navbar-inner
			div.container
				a(href='#').brand Block Viewer
				ul.nav
					li
						a(href='#') FAQ
					li  
						a(href='#') API
					li
						a(href='#') Run Your Own Query
				div.pull-left
					p.navbar-text Donate: 14gZTuHA4xa4gJQBubn5fj3b4D4QHEDdwY				
				form.navbar-search.pull-right.form-inline#recherche
					input(type='text')(placeholder='Search by a Bitcoin address here')(style='width:500px').search-query#txtInput
	div.gradient#zonecentre
		canvas(width='0')(height='0')#carte
		ul#ctlzoom
			li
				a(href='')(title='Zoom In')#zoomPlusButton
			li#zoomSliderzone
				div#zoomSlider
			li
				a(href='#')(title='Zoom Out')#zoomMinusButton
			li
				a(href='#')#lensButton
			li
				a(href='#')#edgesButton
	div#overviewzone.gradient
		canvas(width='0')(height='0')#overview
	div#leftcolumn
		div#unfold
			a(href='#').rightarrow#aUnfold
		div#leftcontent