body	
	div.container
		div.content
			div.page-header
				h1 What would you like to know?
			div.row-fluid
				div.span12							
					h3 Would you like to run graph queries against the 150+ million element (and counting) graph?	Do you have ideas for queries that other people may find useful?  
					h3 Then check back soon as this feature will be rolled out when things stabalize.  In the meantime, if you want to get in touch, feel free to contact me on the forums: 
						a(href='https://bitcointalk.org/index.php?action=profile;u=23919') thallium205